# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/interim/*
data/processed/*
data/splits/*

# Model artifacts
models/checkpoints/*
models/exported/*
models/quantized/*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/